---

---


<section id="bylines" class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-12">
        <div class="p-12 md:w-1/2 flex flex-col items-start">
          <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">MONEY</span>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">‘Roaring Kitty’ Named in GameStop Short Squeeze Lawsuit</h2>
          <p class="leading-relaxed mb-8">The man allegedly behind the GameStop short squeeze is being targeted in a new class action, with claims average investors were misled by lies. 

            Lead plaintiff Christian Iovin says Keith Gill, more widely known as “Roaring Kitty” on YouTube, is actually an institutional trader hiding behind everyday guy personas on social media.</p>
          <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
            <a href="https://topclassactions.com/lawsuit-settlements/money/1010107-keith-gill-aka-roaring-kitty-named-in-gamestop-short-squeeze-class-action" class="text-indigo-500 inline-flex items-center">Read article on Top Class Actions
               <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg> 
            </a>
            <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>1.2K
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>6
            </span>
          </div>
          
          <!-- author badge 
          <a class="inline-flex items-center">
            <img alt="blog" src="https://dummyimage.com/104x104" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
              <span class="text-gray-400 text-xs tracking-widest mt-0.5">UI DEVELOPER</span>
            </span>
          </a>
          -->
        </div>
        <div class="p-12 md:w-1/2 flex flex-col items-start">
          <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">CRIME/COURTS</span>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Is the Mormon Church Covering up Child Abuse?</h2>
          <p class="leading-relaxed mb-8">Two Mormon bishops in Arizona are facing a lawsuit alleging that they and the Mormon church failed to report sexual abuse incidents despite being told — justifying the cover-ups by citing religious privilege. The child plaintiffs argue in the lawsuit the Mormon bishops are wrongfully using so-called “clergy-penitent privilege” rules in sexual abuse cases and had a duty to report the incidents involving their family. </p>
          <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
            <a href="https://topclassactions.com/lawsuit-settlements/sexual-assault-abuse/mormon-abuse-cover-up-church/" class="text-indigo-500 inline-flex items-center">Read full article
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>8.7K
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>11
            </span>
          </div>
          
        </div>
      </div>
    </div>
  </section>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/assets/bylines/txoutage.png" alt="snow and ice cover an electrical tower">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">SEVERE WEATHER</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Texas Power Company, ERCOT Hit With $10M Lawsuit Over Outages</h1>
              <p class="leading-relaxed mb-3">A Houston-area couple has filed the first lawsuit alleging negligence in failing to prepare for the winter storm that left millions without power and nearly 80 dead.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://topclassactions.com/lawsuit-settlements/consumer-products/1010253-texas-power-company-ercot-hit-with-10m-lawsuit-over-outages/" class="text-indigo-500 inline-flex items-center">Read full article
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>12.3K
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>23
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/assets/bylines/googleantitrust.jpg" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">TECH</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Google, Facebook, Amazon Antitrust Class Action Lawsuit Targets Digital Ads</h1>
              <p class="leading-relaxed mb-3">A Kansas landscaping company is leading the charge in the latest class action lawsuit arguing major internet companies are choking the competition over digital ad space with unfair monopolies over the systems that serve them.</p>
              <div class="flex items-center flex-wrap">
                <a href="https://topclassactions.com/lawsuit-settlements/money/1008912-google-facebook-amazon-antitrust-class-action-lawsuit-targets-digital-ads/" class="text-indigo-500 inline-flex items-center">Read full article
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>3.5K
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>12
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/assets/bylines/election.jpg" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">POLITICS</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Polls Close and Americans Brace for the Worst</h1>
              <p class="leading-relaxed mb-3">A nation battered by the coronavirus pandemic trudged to the polls on Tuesday with an eerie sense, ultimately vindicated, that no matter how they felt or what they hoped, the United States would finish Election Day without much confidence in the name of its next president.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.thedailybeast.com/americans-vote-and-brace-for-chaos-amid-coronavirus-vigilante-fears-and-legal-threats?ref=author" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Read The Daily Beast article</a>
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>5.2K
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>214
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="text-gray-600 body-font">
<div class="container px-5 py-24 mx-auto">

    <!-- 
    <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Master Cleanse Reliac Heirloom</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
    </div>
    -->
  
<div class="flex flex-wrap -m-4">
  <div class="lg:w-1/3 sm:w-1/2 p-4">
    <div class="flex relative">
      <a href="https://www.tucsonweekly.com/tucson/looking-back-looking-forward/Content?oid=5041786">
        <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/bylines/twhiv.png">
        <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">COVER STORY</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">HIV in Pima County, 30 Years After Outbreak</h1>
            <p class="leading-relaxed">While medical advances have improved lives, a stigma surrounding the virus persists and there remains a large amount of people in Southern Arizona who aren't getting the proper care they need. Click to read.</p>
          </div>
        </div>
    </a>
      
  </div>
  <div class="lg:w-1/3 sm:w-1/2 p-4">
    <a href="/clips/jaguar.html">
    <div class="flex relative">
      <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/bylines/jaguar.png">
      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">TRAVEL</h2>
        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Conjuring Mayan Magic</h1>
        <p class="leading-relaxed">I kept noticing terrariums outside of the shops as we walked by. They were everywhere. Inside, bugs with rhinestones glued on their exoskeletons crawled over pieces of wood. Click to read</p>
      </div>
    </div>
</a>
  </div>

  <div class="lg:w-1/3 sm:w-1/2 p-4">
    <a href="/clips/bronners.html">
    <div class="flex relative">
      <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/bylines/bronner.jpg">
      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">BUSINESS</h2>
        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dr. Bronner's Was Always a Woke Brand</h1>
        <p class="leading-relaxed">Founded in 1948, Dr. Bronner’s soaps have become a top-seller of body care products in the US and is listed as a B-corporation. The company’s motto summarizes their view: “we are all-one or none.” Click to read</p>
      </div>
    </div>
</a>
  </div>
  <div class="lg:w-1/3 sm:w-1/2 p-4">
    <a href="https://topclassactions.com/lawsuit-settlements/lawsuit-news/bp-deepwater-horizon-oil-spill-test-case/">
    <div class="flex relative">
      <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/bylines/bp.jpg">
      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">ENVIRONMENT</h2>
        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">BP Deepwater Horizon Oil Spill Claims Move Forward</h1>
        <p class="leading-relaxed">A Florida man who’s been dealing with eye problems allegedly caused by the Deepwater Horizon oil rig spill 11 years ago will serve as a test case. Click to read</p>
      </div>
    </div>
  </div>
</a>
  <div class="lg:w-1/3 sm:w-1/2 p-4">
    <a href="/clips/manzoelem.html">
    <div class="flex relative">
      <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/bylines/manzoelem.jpg">
      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">COMMUNITY</h2>
        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Healthy Lunch: Farm School at Manzo Elem.</h1>
        <p class="leading-relaxed">It's open market day at Manzo Elementary School and the students are excited about the carrots, but not because they're healthy. Click to read.</p>
      </div>
    </div>
  </div>
  </a>
  <div class="lg:w-1/3 sm:w-1/2 p-4">
    <a href="https://topclassactions.com/lawsuit-settlements/lawsuit-news/wechat-company-allegedly-snoops-for-chinese-government/">
    <div class="flex relative">
      <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/assets/bylines/wechat.jpg">
      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">TECH</h2>
        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">WeChat Snoops for Chinese Government, Californians Claim</h1>
        <p class="leading-relaxed">Six anonymous plaintiffs claim WeChat monitors texts and turns it over to Chinese Communist Party authorities. Click to read.</p>
      </div>
    </div>
  </div>
</div>
</div>
</a>
</section>

<section class="text-gray-600 body-font">
<div class="container px-5 py-24 mx-auto">

  <div class="flex flex-wrap">
    <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Moving Words for Rep. Giffords During National Prayer Breakfast</h2>
      <p class="leading-relaxed text-base mb-4">Rep. Giffords' husband Cpt. Mark Kelly spoke Thursday morning about his wife's condition during the National Prayer Breakfast.</p>
      <a href="https://www.kold.com/story/13963785/rep-giffords-husband-shares-thoughts-during-national-prayer-breakfast/" class="text-indigo-500 inline-flex items-center">Read the full story
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
    <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Giffords Shooting Suspect's Troubled Past</h2>
      <p class="leading-relaxed text-base mb-4">PCC says 22-year-old Jared Loughner had five contacts with campus police for classroom and library disruptions at the northwest and west campuses.</p>
      <a href="https://www.kold.com/story/13809022/suspects-last-myspace-post-goodbye-friends-dont-be-mad-at-me/" class="text-indigo-500 inline-flex items-center">Read the full story
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
    <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">No Lawyer, No Voice</h2>
      <p class="leading-relaxed text-base mb-4">A data-driven investigation showing outcomes of unaccompanied children detained at the border. Won Best Data Viz award at a Univ. of Arizona coding event.</p>
      <a href="/clips/nolaw.html" class="text-indigo-500 inline-flex items-center">Interact with the data
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
    <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">AZ Reacts to Rancher's Murder</h2>
      <p class="leading-relaxed text-base mb-4">It wasn't until Krentz failed to meet his brother at noon when he knew something was wrong. He began to search the ranch for his brother with the help of his family.</p>
      <a href="https://www.kold.com/story/12224521/arizona-reacts-to-murder-of-douglas-rancher/" class="text-indigo-500 inline-flex items-center">Read the full story
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
</section>
</main>